body {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  /* Adjusted grid template columns */
  grid-template-rows: auto 1fr auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

header {
  display: block;
  text-align: center;
  background: grey;
  padding: 10px;
  grid-column: 1 / 4;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: black;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
}
nav a:active {
  color: white;
}
footer {
  background: grey;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.card {

  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}

h1,
h2 {
  text-align: center;
  background-color: grey;
  color: white;
}

p {
  padding-left: 110px;
  padding-right: 110px;
}

main {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
}


img {
  height: 400px;
  width: 300px;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-content figure {
  height: 400px;
  width: 300px;
  margin-left: 20px;
}

.bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-content figure {
  margin-right: 20px;
}



.side-content {
  flex-direction: column;
  justify-content: center;
  height: 50%;
}


.side-content li a {
  color: #000; 
  text-decoration: underline; 
  
}

