
:root {
    --backColor: orange;
    --textColor:black;
    --boxBackColor:black;
    --boxTextColor:orange;
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: grid;
    min-height: 100vh; 
    margin: 0;
}

header,
footer {
    background-color: var(--backColor);
    text-align: center;
}

main {
    position: relative;

}
h2 {
    text-align: center;
}
.hero img {
    
    display: block;
    height: auto;
    width: 100%;
}

table {
    margin: 20px;
}
th {
    text-align: left;
}
td {
    text-align: right;
}
